:root {
  
  --colour-green-light: rgb(162, 204, 119);
  --colour-green: rgb(67, 153, 130);
  --colour-green-dark: rgb(68, 118, 118);

  --colour-grey-light: rgb(233, 233, 233);
  --colour-grey: rgb(150, 150, 150);
  --colour-grey-dark: rgb(60, 89, 105);

  --colour-white: rgb(255, 255, 255);

  --colour-yellow: rgb(235, 218, 105);

  --space-micro-xx-smaller: 2px;
  --space-micro-x-smaller: 5px;
  --space-micro-smaller: 10px;
  --space-micro-small: 15px;
  --space-micro: 20px;
  --space-micro-large: 30px;
  --space-micro-larger: 40px;

}