.Button {
  background: var(--colour-yellow);
  border-radius: 3px;
  color: var(--colour-grey-dark);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: var(--space-micro);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &.is-disabled {
    background: var(--colour-grey);
    cursor: default;
  }

  &.Button--full {
    width: 100%;
  }

  .Icon {
    color: var(--colour-grey-dark);
    fill: var(--colour-grey-dark);
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    vertical-align: text-bottom;
    width: 16px;
  }
}